version: 2
updates:
  - package-ecosystem: github-actions
    directories:
      - /
      - /.github/actions/*
    schedule:
      interval: weekly
      day: monday
      time: "06:00"
    groups:
      github-actions-deps:
        patterns:
          - '*'
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
      day: monday
      time: "06:00"
    groups:
      npm-dev-deps:
        patterns:
          - '*'
        dependency-type: development
      npm-prod-deps:
        patterns:
          - '*'
        dependency-type: production
